<div id="maincontainer">
    <div id="leftcontent">
        <div id="videoplayer">
            <video class="mejs-player" poster="{POSTER_SRC}" style="width:100%;height:inherit;" height="100%">
                <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
                <source src="{VIDEO_SRC}.webm" type='video/webm; codecs="vp8, vorbis"' />
                <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
                <source src="{VIDEO_SRC}.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                <!-- Ogg/Vorbis for older Firefox and Opera versions -->
                <source src="{VIDEO_SRC}.webm" type='video/ogg; codecs="theora, vorbis"' />
            </video>
        </div>
        <div id="description_container">
            <div id="description_content">

                <h1 id="title">{TITLE}</h1>

                <div id="rating">{RATING}</div>

                <p id="description" style="display: none">{DESCRIPTION}
                    <a onclick="return toggle()">{LESS}</a>
                </p>

                <p id="description_short">{DESCRIPTION_SHORT}
                    <a onclick="return toggle()">{MORE}</a>
                </p>

                <div id="tags" class="tags">
                <p id="tags_key" class="tags">{TAGS_KEY}</p>
                    <!-- BEGIN tags -->
                    <a href="{TAG_SEARCH}" class="tags">{TAGS_VALUE}</a>
                    <!-- END tags -->
                </div>
                <div id="category">
                    <p id="category_key" class="category">{CATEGORY_KEY}</p>
                    <a href="{CATEGORY_SEARCH}" class="category">{CATEGORY_VALUE}</a>
                </div>
            </div>
        </div>
    </div>
    <div id="related_videos">
        {RELATED_VIDEOS_TABLE}
    </div>
</div>