<link rel="stylesheet" type="text/css" href="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/VideoManager/templates/lib/build/mediaelementplayer.min.css" media="screen">
<script type="text/javascript" src="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/VideoManager/templates/lib/build/mediaelement-and-player.min.js"></script>
<div id="maincontainer">
	<div id="leftcontent">
		<div id="videoplayer" style="max-width:800px;max-height:450px;align-content:center">
			<video poster="{POSTER_SRC}" controls style="max-width:800px;max-height:450px;width:100%;height:100%;">
				<!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
				<source src="{VIDEO_SRC}.mp4" type="video/mp4"/>
				<!--<source src="{VIDEO_SRC}.mp4" type="application/x-mpegURL" />--><!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
				<source src="{VIDEO_SRC}.webm" type="video/webm"/>
				<!-- Ogg/Vorbis for older Firefox and Opera versions -->
				<source src="{VIDEO_SRC}.webm" type="video/ogg"/>
				Your browser does not support the video tag.
			</video>
		</div>
		<script>
//			$('video').mediaelementplayer({defaultVideoWidth: 960, defaultVideoHeight: 600});
			$('video').mediaelementplayer();
		</script>
		<div id="description_container">
			<div id="description_content">
				<h1 id="title">{TITLE}</h1>
				<div id="rating">{RATING}</div>
				<p id="description" style="display: none">{DESCRIPTION} <a onclick="return toggle()">{LESS}</a>
				</p>
				<p id="description_short">{DESCRIPTION_SHORT} <a onclick="return toggle()">{MORE}</a>
				</p>
				<div id="tags" class="tags vidm_metainfo">
					<p id="tags_key" class="tags">{TAGS_KEY}</p>
					<!-- BEGIN tags -->
					<a href="{TAG_SEARCH}" class="tags"><span class="label label-default">{TAGS_VALUE}</span></a>
					<!-- END tags -->
				</div>
				<div id="category">
					<p id="category_key" class="category vidm_metainfo">{CATEGORY_KEY}</p>
					<a href="{CATEGORY_SEARCH}" class="category"><span class="label label-primary">{CATEGORY_VALUE}</span></a> {SUBSCRIPTION_BUTTON}
				</div>
				<div id="vidm_views" class="vidm_metainfo">
					<p id="vidm_views_key" class="category">{VIEWS_KEY}</p>
					<span class="label label-primary">{VIEWS}</span>
				</div>
			</div>
		</div>
	</div>
	<div id="related_videos">
		{RELATED_VIDEOS_TABLE}
	</div>
</div>