#leftcontent {
    vertical-align: top;
    width: 80%;
    padding: 0 15px 15px 0;
    display: inline-block;
}

#description {
    width:100%;
}

.ilForm{
    width:100%;
}

div#mep_0 {
    max-height: 450px;
    width: 100%;
    right: -2px;
    margin: -2px;
}

#videoplayer {
	box-shadow: 3px 3px 4px #D0D0D0;
	width:      inherit;
	max-width:  720px;
}
/*#videoplayer {*/
    /*box-shadow: 3px 3px 4px #D0D0D0;*/
    /*height:440px;*/
    /*width: 100%;*/
    /*max-width:450px;*/
    /*margin-top:50px;*/
    /*display: inline-block;*/
/*}*/

@media
only screen and (max-width: 1220px){
    #leftcontent {
        width:100%;
        max-width: 450px;
    }

    #videoplayer {
        margin-top:0;
    }
}

@media
only screen and (max-width: 768px){
    #videoplayer {
        width:100%;
        max-width:400px;
    }
    #maincontainer {
        text-align:center;
    }
    #leftcontent{
        width:100%;
        max-width:415px;
        padding: 0;
    }
}

@media
only screen and (max-width: 640px){
    #videoplayer {
        width:100%;
        max-width:400px;
    }
    #leftcontent{
        width:100%;
        max-width:415px;
        padding: 0;
    }
}

@media
only screen and (max-width: 420px){
    #il_center_col{
        padding: 0;
    }
    #videoplayer {
        width:100%;
        max-width:300px;
    }
    #leftcontent{
        width:100%;
        max-width:300px;
        padding: 0;
    }
}