#maincontainer {
    text-align: center;
    width: 100%;
    min-height: 100%;
}

#related_videos {
    vertical-align: top;
    width: 360px;
    display: inline-block;
}

#leftcontent {
    vertical-align: top;
    width: 730px;
    padding: 7px 0 0 2%;
    min-height: 375px;
    padding-bottom: 15px;
    display: inline-block;
}

#description_container {
    border: 1px solid #D6D6D6;
    text-align: left;
    width: 720px;
    min-height: 100;
    margin: 12px 0;
    background-color: #F0F0F0;
}

#description_content {
    padding: 1px 12px 12px 12px;
    height: auto;
}

#title {
    font-weight: bold;
}

#description {
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #000000;
}

#tags_key {
    width:auto;
}

#tags {
    width: auto;
}

.tags {
    display: inline-block;
    font-style: italic;
    margin: 0;

}

#category_key {
}

#category {

}

.category {
    width: auto;
    font-style: italic;
    display: inline-block;
    margin: 0;
}

/* basic responsiveness (beta)

   The following section targets smartphones.

   iPads come with a device width of 768, the iPhone with 320, most smartphones seem to
   use a width under 640px, so 640 seems to be a good choice here.
   If you make any changes in this query, please add a reason to this comment and if possible an url that
   backs this decision.

   List of common devices width values: http://cssmediaqueries.com/target/
   Google recommending 640px: https://developers.google.com/webmasters/smartphone-sites/details

   */
@media
    only screen and (max-width: 640px)
{
    #leftcontent {
        width:auto;
    }

    .mejs-player{
        width:auto;
        height:auto;
    }

    #description_container {
        width:auto;
    }

    #related_videos{
        width:auto;
    }
}


